{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"rules": {
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/ban-types": "off",
		"@typescript-eslint/ban-ts-comment": [
			"warn",
			{
				"ts-ignore": "allow-with-description"
			}
		],
		"semi": ["error", "never"],
		"function-call-argument-newline": ["warn", "consistent"],
		"no-mixed-spaces-and-tabs": "off"
	},
	"overrides": [
		{
			"files": ["**/tests/**"],
			"rules": {
				"@typescript-eslint/ban-ts-comment": "off"
			}
		}
	]
}
