node_modules
npm-debug.log
.idea
.nova
.vscode
.cache/

.DS_Store
.history
*.iml

yarn-error.log
crash.log
dist
gen

target
tsconfig.tsbuildinfo
test/testkit/.dump
coverage
*perfer-report*

docker-context

.env
.eslintcache

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache
